<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      
      <div class="notification-bar">
        <i class="fa fa-bell"></i>
        <span>Ricevi notifiche di nuovi messaggi</span>
      </div>
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Cerca o inizia una nuova chat">
    </div>
      <div class="contacts">
        <div v-for="(contact, index) in contacts" :key="index" class="contact" @click="openChat(index)">
          <img :src="contact.avatar" :alt="'Contact Avatar ' + index">
          <div class="contact-info">
            <span class="name">{{ contact.name }}</span>
            <span class="last-message">{{ contact.lastMessage }}</span>
            <span class="timestamp">{{ contact.timestamp }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <div v-if="selectedChat !== null" class="contact-chat">
        <div class="header">
          <img :src="contacts[selectedChat].avatar" :alt="'Contact Avatar ' + selectedChat">
          <div class="contact-details">
            <span class="name">{{ contacts[selectedChat].name }}</span>
            <span class="last-seen">{{ contacts[selectedChat].lastSeen }}</span>
          </div>
        </div>
        <div class="messages">
          <div v-for="(message, index) in contacts[selectedChat].messages" :key="index" :class="['message', message.type]">
            <span class="text">{{ message.text }}</span>
            <span class="timestamp">{{ message.timestamp }}</span>
          </div>
        </div>
        <div class="input">
          <i class="fa fa-smile-o"></i>
          <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sentMessage" ref="inputMsj">
          <i class="fa fa-microphone"></i>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="/js/script.js"></script>
</body>
</html>